apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mongo-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  # لو gp3 هو الـ default StorageClass عندك سيبها كده.
  # storageClassName: gp3
