- name: Update kubeconfig
  ansible.builtin.command: "aws eks update-kubeconfig --region {{ aws_region }} --name {{ cluster_name }}"
  register: kubeconfig
  changed_when: "'Updated context' in kubeconfig.stdout or 'Added new context' in kubeconfig.stdout"

- name: kubectl get nodes
  ansible.builtin.command: "kubectl get nodes -o wide"
  register: nodes
  changed_when: false

- ansible.builtin.debug:
    var: nodes.stdout
